<div class="container">
    <div class="error" *ngIf="isError">{{msg}}</div>
    <div *ngIf="!isError">
        <div class="success clsmsg" *ngIf="isSuccess">{{msgsuccss}}</div>
        <div align="end" style="text-align: right;">
            <button mat-raised-button color="primary" (click)="add()">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>Add
            </button>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

            <!-- ID Column -->
            <ng-container matColumnDef="Name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.Name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Email}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Address">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Address}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="DOB">
                <mat-header-cell *matHeaderCellDef mat-sort-header>DOB</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.DOB | date:'dd-MM-yyyy'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Gender">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Gender}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="City">
                <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.City}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Mobile">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Mobile}}</mat-cell>
            </ng-container>

            <!-- actions -->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button color="primary">Action</button>
                </mat-header-cell>

                <mat-cell *matCellDef="let row; let i=index;">
                    <button mat-raised-button color="primary" (click)="Edit(row,i)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>

                    <button mat-raised-button color="warn" (click)="delete(row,i)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>


        <div class="no-results" *ngIf="dataSource.length==0">
            No results found Please Add new data
        </div>


        <!-- <mat-paginator [length]="totalrow" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        [showFirstLastButtons]="true" (page)="pageEvent = handlePage($event)" [pageIndex]="currentPage">
    </mat-paginator> -->
    </div>
</div>

<ng-template #addEmployeeDialog>
    <div class="container popup">
        <h3 mat-dialog-title>{{title}}</h3>

        <form class="mat-dialog-content" #formControl="ngForm">

            <div class="form">
                <mat-form-field color="accent">
                    <input matInput #Name class="form-control" type="text" placeholder="Name" [(ngModel)]="data.Name"
                        name="Name" maxlength="40" required pattern="^[a-zA-Z\s]+$">
                    <mat-error *ngIf="formControl.invalid && !data.Name">{{getErrorMessage()}}</mat-error>
                    <mat-error *ngIf="formControl.invalid && data.Name">Please enter letter only</mat-error>

                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field color="accent">
                    <input matInput placeholder="Email" [(ngModel)]="data.Email" type="email" name="Email" required
                        email>
                    <mat-error *ngIf="formControl.invalid && !data.Email">{{getErrorMessage()}}</mat-error>
                    <mat-error *ngIf="formControl.invalid && data.Email">Please enter valid Email</mat-error>
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field color="accent">
                    <textarea matInput #Address class="form-control" placeholder="Address" [(ngModel)]="data.Address"
                        name="Address"></textarea>
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>


            <div class="form">
                <mat-form-field>
                    <mat-label>Select DOB</mat-label>
                    <input required matInput [matDatepicker]="picker" placeholder="DOB" [(ngModel)]="data.DOB"
                        name="DOB">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="form" [ngClass]="{'mat-form-field-invalid':formControl.submitted && !data.Gender}">

                <mat-radio-group aria-label="Gender" class="form-control" [(ngModel)]="data.Gender" #Gender="ngModel"
                    name="Gender" required>
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                </mat-radio-group>


            </div>

            <div class="form">
                <mat-form-field>
                    <mat-label>Select City</mat-label>
                    <mat-select [(ngModel)]="data.City" name="City" required>
                        <mat-option [value]="">Select City</mat-option>
                        <mat-option *ngFor="let val of citylist" [value]="val.Name">
                            {{val.Name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form">
                <mat-form-field color="accent">
                    <input required matInput placeholder="Mobile" type="number" [(ngModel)]="data.Mobile" name="Mobile"
                        maxlength="10"
                        onKeyDown="if(this.value.length==10 && event.keyCode>47 && event.keyCode < 58)return false;">
                </mat-form-field>
            </div>


            <div mat-dialog-actions>
                <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
                    (click)="employeeAddupdate()">{{buttontitle}}</button>
                <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #deleteDialog>
    <div class="container deletepopup">
        <p>Do you want to remove this employee</p>
        <div mat-dialog-actions>
            <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Delete</button>
            <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
        </div>
    </div>
</ng-template>