table {
  width: 100%;
}
.success.clsmsg {
    text-align: center;
    color: #fff;
    background: #008000a1;
}

.error {
    color: #fff;
    text-align: center;
    height: 50px;
    margin-top: 10px;
    background-color: #ff5200;
}